<header>
    <div class="header">
        <div class="navbar-header">
            <!-- Logo e nome AgroGestor alinhados corretamente -->
                <img src="/images/logo.png" class="logo">
                <span class="brand-name">AGROGESTOR</span>
        </div>
    
        <!-- Inclui a barra de navegação -->
        <nav class="navbar">
            <ul class="nav-menu">
                <%if(flagAdmin == true){%>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/estoque">ESTOQUE</a></li>
                    <li><a href="/todas_vendas">VENDAS</a></li>
                    <li><a href="/todas_despesas">DESPESAS</a></li>
                    <li><a href="/sair">SAIR</a></li>
                <%}else{%>
                    <li><a href="/login">LOGIN</a></li>
                <%}%>
            </ul>
        </nav>
    </div>
</header>

